* {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: grid;
  flex-direction: column;
  width: 100%;
  height: auto;
  z-index: 1;
  margin: 0;
  padding: 0;
  background: #e5e5e5;
  border-radius: 15px 50px 30px 5px;
}


/* popup window mobile */

.window {
  display: none;
  z-index: 0;
  width: 100%;
  height: 200%;
  padding: 10px 13px 0 25px;
  margin: -5px 0 0 -15px;
  backdrop-filter: blur(6px);
}

#popup-window {
  flex-direction: column;
  width: 75%;
  height: 48%;
  top: 5px;
  padding: 0 20px;
  margin: 0 0 -15px 0;
  color: #091e42;
  background: #fff;
  border: 1px solid #ebecf0;
  border-radius: 16px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
}

.window-header-container {
  flex-direction: row;
}

.window-header {
  width: 90%;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.window-header h2 {
  color: #172b4d;
  margin: 10px 0 -20px 0;
}

#closeWindow {
  color: #67798e;
  float: right;
  width: auto;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: -10px 0 5px 0;
}

.window-elemnts {
  width: 100%;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0;
}

.window-image-container {
  width: 100%;
  margin: auto;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.window-image {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.window-card-container {
  width: auto;
  flex-direction: column;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.window-items {
  flex-direction: column;
  width: 100%;
  height: auto;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.window-text {
  height: auto;
  font-size: 15px;
  width: 100%;
}

.window-card {
  flex-direction: column;
  width: 306px;
  height: auto;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.window-skills {
  flex-direction: row;
  width: auto;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 5px 30px 0 0;
}

.window-skills li {
  width: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  height: auto;
  align-self: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  margin: 0 5px 0 0;
}

.window-button-container {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 auto -10px auto;
}

.window-button-container a {
  text-decoration: none;
}

.window-button {
  flex-direction: row;
  position: static;
  width: auto;
  height: 48px;
  color: #396df2;
  background-color: #fff;
  border: 0.5px solid #6070ff;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin: 10px 5px;
  padding: 0 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.size {
  width: 16px;
  height: 16px;
  margin: auto auto auto 1px;
}

.window-button:hover {
  background: #396df2;
  color: #fff;
  border: 0.5px solid #fff;
}

.window-button > i {
  margin: 0 0 0 5px;
}

header {
  position: sticky;
  width: 100%;
  height: 72px;
  top: 0;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  color: #6070ff;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.nav-bar {
  width: 100%;
}

.topnav {
  flex-direction: row;
  width: 100%;
  margin: 10px 0 0 0;
}

.topnav a {
  float: left;
  text-decoration: none;
  font-size: 17px;
}

.logo {
  width: 78px;
  height: 20px;
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 0 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  -webkit-animation: spin 2s linear;
}

.logo:hover {
  transform: scale(1.2, 1.2);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

.topnav-right {
  float: right;
  width: auto;
  margin: 0 20px 0 0;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#menu-button {
  color: #6070ff;
}

#menu-button:hover {
  transform: scale(1.2, 1.2);
  color: #344563;
}

#mobile-menu {
  position: fixed;
  z-index: 0;
  height: 110vh;
  display: none;
  background: #6070ff;
  opacity: 0.75;
  top: 0;
  left: 0;
  width: 100%;
}

#mobile-menu #closeButton {
  float: right;
  color: #fff;
  margin: 60px 20px 0 0;
  height: 20px;
  width: 20px;
}

#mobile-menu ul {
  margin: 100px 0 0 0;
  padding: 0 0 0 28px;
}

.mobile-menu-items > li {
  padding: 10px 0;
}

#mobile-menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.main {
  flex-direction: column;
  background: url('./assets/mobile-bg.png');
  background-repeat: no-repeat;
  background-size: 95%;
  background-color: #fff;
  border-radius: 0 0 0 80px;
  width: auto;
  padding: 114px 6px 0 6px;
  height: 604px;
  align-items: center;
  backdrop-filter: none;
}

.text-section {
  flex-direction: column;
  padding: 0;
  width: 70%;
  height: 150px;
  margin: -50px 0 10px 0;
}

.main-header {
  flex-direction: column;
  align-items: center;
  left: 5px;
  top: 160px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 20px 0;
  color: #172b4d;
}

.main-text {
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 12px 0;
  color: #344563;
}

.main-items {
  flex-direction: column;
}

hr {
  color: #dfe1e6;
}

.contact {
  width: 130px;
  height: 24px;
  margin: 12px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons-list {
  flex-direction: row;
  width: 170.17px;
  height: 20px;
}

.icon {
  flex-direction: row;
  width: 20px;
  height: 20px;
  margin: 0 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.icon:hover {
  transform: scale(1.5, 1.5);
}

.card {
  flex-direction: column;
  height: auto;
  width: 90%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 24px;
  box-shadow: 0 8px 16px rgba(150, 150, 150, 0.39);
  padding: 20px 0 20px 20px;
  margin: 40px 5px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.card-items {
  display: flex;
  flex-direction: column;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-items-reverse {
  display: flex;
  flex-direction: column;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.card-continent {
  flex-direction: column;
  width: 90%;
  height: auto;
}

.card-image {
  width: 85%;
  height: auto;
}

.card-header-container {
  flex: none;
  height: auto;
  order: 0;
  flex-grow: 0;
}

.card-header {
  width: 80%;
  height: auto;
  font-weight: 700;
  font-size: 26px;
  line-height: 44px;
}

.span-weight-500 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.span-weight-400 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6b778c;
}

.card-elemnts {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: auto 0;
}

.counter {
  width: 10px;
}

.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 85%;
  height: auto;
  margin: 0;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.skills-list {
  flex-direction: row;
  width: auto;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 10px 0;
}

.skills-list > li {
  width: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  height: auto;
  align-self: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  margin-right: 10px;
}

.button-container {
  height: auto;
  width: 120px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.button {
  flex-direction: row;
  position: static;
  width: 100%;
  height: 48px;
  color: #396df2;
  background-color: #fff;
  border: 0.5px solid #6070ff;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  margin: 12px 12px;
  padding: 0 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.button:hover {
  background: #396df2;
  color: #fff;
  border: 0.5px solid #fff;
}

.about {
  flex-direction: column;
  width: 100%;
  height: 1263px;
  background: #fff;
  border-radius: 0 80px 0 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 114px 0 0 0;
}

.about-items-container {
  flex-direction: column;
  width: 90%;
  height: 409px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 50px 0 0 0;
}

.about-items {
  width: 100%;
  height: 90%;
  right: 0;
  margin: 0 20px;
}

.about-continent {
  width: 100%;
  height: 100%;
  margin: 10px;
}

.about-header {
  height: 114px;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.about-text {
  width: 100%;
  height: 144px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.about-icons {
  flex-direction: row;
  width: 170.17px;
  height: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 40px 0 0 0;
}

.about-button-container {
  flex-direction: column;
  margin: 20px 0 0 0;
  width: 185px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.box {
  flex-direction: column;
  width: 80%;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 50px 0 0 0;
}

.box-items {
  flex-direction: column;
  margin: 0 0 100px 15px;
  padding: 10px;
  width: 100%;
  height: 400px;
}

.box-header {
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 0 12px 0;
}

.box-header > h4 {
  flex-direction: row;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.box-header > i {
  width: 12px;
  flex-direction: row;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.speare > div {
  width: 12px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.langs {
  flex-direction: row;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.lang-box {
  flex-direction: row;
  align-items: center;
  width: 80%;
  height: 66.72px;
  margin: 12px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #253858;
  background: #f7f7f9;
  border-radius: 8px;
}

.lang-box-items {
  flex-direction: column;
}

.eclipse {
  width: 48px;
  height: 48px;
  margin: 0 12px;
}

.speare-box {
  flex-direction: column;
  height: 200px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.speare {
  flex-direction: row;
  justify-content: space-between;
  height: 52px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 10px 0 0 0;
  margin: 8px 0 0 0;
  color: #344563;
  border-bottom: 2px solid #dfe1e6;
}

.speare > h4 {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-me {
  flex-direction: column;
  margin: -130px 0 0 0;
  background: url('./assets/contact-form-shapes-mobile.png');
  background-color: #6070ff;
  background-size: 98%;
  border-radius: 50px 0 0 0;
  color: #fff;
  width: 100%;
  height: 780px;
}

.contact-me-items {
  flex-direction: column;
  width: 90%;
  align-items: center;
  text-align: center;
  margin: 170px auto 0 auto;
}

.contact-me-heeder {
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-me-text {
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 327px;
  color: #ebebff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  height: 48px;
  width: 327px;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.form {
  flex-direction: column;
  width: 80%;
  margin: 10px 0 0 0;
}

.form-header {
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 15px;
  height: 28px;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 10px;
}

.form-header::placeholder {
  color: #172b4d;
}

.form-email {
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 15px;
  height: 28px;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 0 10px 0;
}

.form-email::placeholder {
  color: #172b4d;
}

.form-text {
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 15px;
  height: 170px;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0 0 10px 0;
}

.form-button {
  flex-direction: row;
  width: 70%;
  height: 50px;
  color: #396df2;
  background-color: #fff;
  border: 0.5px solid #6070ff;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 10px;
  padding: 15px 20px;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0 0 10px 0;
}

.form-button:hover {
  color: #fff;
  background: #396df2;
  border: 0.5px solid #fff;
}

.right {
  float: right;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

#special-button-container {
  display: none;
}

.decoration {
  text-decoration: none;
}

.list-style {
  list-style-type: none;
}

.angle {
  color: #344563;
}

.active {
  display: block;
}

@media screen and (min-width: 768px) {
  body {
    flex-direction: row;
  }

  /* popup window desktop */
  .window {
    height: 100%;
    width: 90%;
    margin: 0 0 0 -20px;
    padding: 30px 70px;
    border: 30px;
  }

  #popup-window {
    width: auto;
    height: 85%;
  }

  .window-header {
    width: 95%;
  }

  .window-header > h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  #closeWindow {
    margin: 0 30px 0 0;
  }

  .window-elemnts {
    width: 95%;
    margin: 0 0 0 15px;
  }

  .window-image-container {
    width: 100%;
    margin: auto;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .window-image {
    width: 100%;
    object-fit: cover;
    height: 480px;
    align-items: center;
  }

  .window-card-container {
    flex-direction: row;
  }

  .window-items {
    flex-direction: row;
    width: 60%;
    margin: 10px 10px 0 20px;
  }

  .window-text {
    height: 350px;
    width: 100%;
  }

  .window-card {
    flex-direction: column;
  }

  .window-skills {
    margin: 10px 0 0 30px;
  }

  .window-button-container {
    margin: 0 0 0 20px;
  }

  .logo {
    margin: 15px 0 0 142px;
  }

  .topnav-right {
    margin-right: 142px;
  }

  .item-navigation {
    flex-direction: row;
    margin: 10px;
    height: 20px;
    width: 62px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .item-navigation:hover {
    color: #6070ff;
  }

  #mobile-menu {
    display: none;
  }

  #menu-button {
    display: none;
  }

  .hidden {
    display: flex;
  }

  .main-container {
    width: 100%;
    background: #fff;
    border-radius: 0 0 0 200px;
  }

  .main {
    background: url('./assets/Header-bg.png');
    background-repeat: no-repeat;
    background-size: 98%;
    margin: 10px 0 0 0;
    height: 650px;
  }

  .text-section {
    text-align: left;
    width: 50%;
    height: 268px;
    margin: 50px 130px;
  }

  .main-header {
    flex-direction: row;
    font-size: 48px;
    line-height: 60px;
    height: 122px;
  }

  .main-text {
    flex-direction: row;
    font-size: 20px;
    height: 98px;
  }

  /* card sections */
  .card {
    flex-direction: row;
    height: 446px;
    width: 75%;
    padding: 24px;
    margin: 142px auto 0 auto;
  }

  .card-items {
    flex-direction: row;
  }

  .card-items-reverse {
    flex-direction: row-reverse;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 12px 0;
  }

  .card-continent {
    width: 50%;
    height: 100%;
    padding: 20px;
  }

  .card-image {
    width: 50%;
    height: auto;
  }

  .card-header-container {
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: auto 0;
  }

  .card-header {
    width: 100%;
    font-size: 32px;
    line-height: 52px;
    height: 46px;
  }

  .card-elemnts {
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .card-text {
    width: auto;
    height: auto;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: auto 0;
  }

  .skills-list {
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 10px 0 0 0;
  }

  .skills-list > li {
    flex-direction: row;
    width: auto;
    height: auto;
    text-align: center;
  }

  .unique-button {
    color: #fff;
    background: #4053fc;
    box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
    border-radius: 8px;
  }

  .unique-button:hover {
    color: #4053fc;
    background: #fff;
    border: 0.5px solid #4053fc;
  }

  .button-container {
    height: auto;
    width: auto;
    flex: none;
    order: 4;
    flex-grow: 0;
  }

  .button {
    width: auto;
  }

  .cursor-container {
    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 0;
  }

  .cursor {
    width: 57px;
    height: 57px;
    margin: -40px 0 0 180px;
  }

  /* About section */
  .about {
    flex-direction: row;
    width: 100%;
    height: 924px;
    border-radius: 0 200px 0 0;
  }

  .about-items-container {
    width: 35%;
    margin: 142px 10px 0 50px;
  }

  .about-items {
    width: 100%;
    height: 392px;
    right: 0;
  }

  .about-text {
    height: 102px;
    width: 100%;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0;
  }

  .about-text > p {
    width: 100%;
    margin: 5px 0 0 0;
  }

  .about-icons {
    width: 200px;
    height: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 76px 0 10px 0;
  }

  .box {
    flex-direction: row;
    margin: 142px 30px 0 0;
    width: 60%;
    height: 360px;
  }

  .box-header {
    margin: 0;
    width: 100%;
    height: 72px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .box-items {
    width: 80%;
  }

  .lang-box {
    float: left;
    flex-direction: column;
    width: 150px;
    height: 100px;
    padding: 20px;
    margin: 0 5px;
  }

  .lang-box-items {
    flex-direction: row;
    text-align: center;
    width: 60%;
  }

  .speare {
    height: 72px;
  }

  /* Contact section */
  .contact-me {
    background-image: url('./assets/contact-bg.png');
    background-repeat: no-repeat;
    background-size: 95%;
    background-color: #6070ff;
    border-radius: 150px 0 0 0;
    width: 100%;
    height: 846px;
    margin: -10% 0 0 0;
  }

  .contact-me-container {
    width: 100%;
    height: 700.7px;
  }

  .contact-me-items {
    flex-direction: column;
    width: 70%;
    height: 600px;
    text-align: center;
    align-items: center;
  }

  .contact-me-heeder {
    height: 56px;
    text-align: center;
  }

  .contact-me-text {
    text-align: center;
    width: 80%;
    height: 102px;
  }

  .form {
    width: 100%;
    height: 395px;
  }

  .form-header {
    margin: 13.5px 0;
  }

  .form-email {
    margin: 13.5px 0;
  }

  .form-text {
    margin: 13.5px 0;
  }

  .form-button {
    margin: 13.5px 0;
  }
}
